
/* ==================================================== */ 
/*              Color Variables
/* ==================================================== */ 

$teal: rgb(88, 225, 193);
$babyblue: rgb(81, 221, 252);
$green: rgb(99, 204, 130);
$red: rgb(228, 117, 122);
$orange: rgb(253, 120, 86);
$purple: rgb(146, 123, 193);
$gray: rgb(119, 119, 119);
$white: rgb(255, 255, 255);


/* ==================================================== */ 
/*              Font Stack Variables
/* ==================================================== */ 

$fontstack: "Lato", sans-serif;


/* ==================================================== */ 
/*              Break Point Variables
/* ==================================================== */ 

$brk-narrow: '(min-width: 768px)';
